{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates">Templates</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' user.username %}">{{user.username}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              {% endif %}
           
          </ul>
         
        </div>
      </nav>
	
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-2" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'builder/images/template5.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Steller resume focusing on skills. Download now!</p>
          {% if user.is_authenticated %}
          <a href='/resume' class="btn btn-primary">Download</a>
          {% else %}
          <a href='/login' class="btn btn-primary">Download</a>
          {%endif%}
        </div>
      </div>
    </div>
    
<div class="col">
  <div class="card mt-2" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'builder/images/sample_resume.png' %}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Steller resume focusing on skills. Download now!</p>
      {% if user.is_authenticated %}
      <a href='/resume' class="btn btn-primary">Download</a>
      {% else %}
      <a href='/login' class="btn btn-primary">Download</a>
      {%endif%}
    </div>
  </div>
</div>
   

  </div>
   

</div>


</body>
</html>

